<!DOCTYPE html>
<html>
  <head>
    <title> OMO Collaboration </title>
  </head>
  <body>
    <form method="POST">
    <input type="submit" value="Submit" />
    <table>
      <tr>
        <th> Question </th>
        <th colspan=3> Answers </th>
      </tr>
      <tr>
        <th> </th>
        {% for m in names %}
            <th> {{ m }} </th>
        {% endfor %}
        <th > Last Post </th>
      </tr>
      {% for i in range(1, NUM_OF_QUESTIONS + 1) %}
      <tr>
        <td>{{ i }}</td>

        {% for m in names %}

            {% if answers[m][i] == None %}
                {% set display = "" %}
            {% else %}
                {% set display = answers[m][i] %}
            {% endif %}

            {% if m == username %}
                <td> <input type="text" value="{{display}}" name="answer{{i}}" /></td>
            {% else %}
                <td> {{display}}</td>
            {% endif %}
        {% endfor %}
	<td> <a href="thread/{{i}}"> {{times[i]}} </a></td>
      </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Submit" />
    </form>
  </body>
</html>
